* {
  box-sizing: border-box;
}

body {
  font: 1.25em sans-serif;
}

input {
  font-family: inherit;
}

input,
button {
  font-size: 0.75em;
  border: none;
}

@media (prefers-color-scheme: dark) {
  body {
    background: #333333;
    color: #dddddd;
  }

  a {
    color: #dddddd;
  }

  a:hover {
    color: #bbbbbb;
  }

  input {
    background: #555555;
    color: #bbbbbb;
  }

  button {
    background: #777777;
    color: #dddddd;
  }
}
