* {
  box-sizing: border-box;
}

body {
  font: 1.25em sans-serif;
}

@media (prefers-color-scheme: dark) {
  body {
    background: #333333;
    color: #dddddd;
  }

  a {
    color: #dddddd;
  }

  a:hover {
    color: #bbbbbb;
  }
}
